<div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
        <form action="{% url 'regmedic:Consulta_del' obj.pk %}" method="POST" role="form" class="form-inline">
            {% csrf_token %}
            <div class="col-14">
                <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">¿Eliminar Consulta de {{ obj.mascota }}?</div>
                        <button type="submit" class="btn btn-danger"><span class="fas fa-trash"></span> Eliminar</button>
                        
                        <a onclick="cerrar_modal()" href="#" class="btn btn-success"><span class="fa fa-undo"></span> Cancelar</a>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-question-circle fa-2x text-gray-300"></i>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </form>  
    </div>
</div>