{% extends "base/base.html" %}
{% block title %}Mantenimiento a Clientes | Santa Barbara{% endblock %}

{% block contenido %}
    <!-- Dropdown Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-success">Listado de Clientes para Mantenimiento</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            {% if not  object_list %}
                <div class="alert alert-info">No hay Clientes Registrados</div> 
            {% else %}
            <table class="table table-striped table-hover" >
                <thead>
                    <th>Cedula</th>
                    <th>Nombre y Apellido</th>
                    <th>Movil</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>estado</th>
                    <th class="all">Acciones</th>
                </thead>
                <tbody>
                    {% for item in object_list %}
                    <tr>
                        <td>{{item.tipo}}{{ item.cedula }}</td>
                        <td><a class="nav-link" href="{% url 'regmedic:Cliente_detail' item.pk %}"><h6 class="font-weight-bold">{{item.nombre}} {{item.apellido}}</h6></a></td>
                        <td>{% if not item.movil %}No Posee {% else %} {{item.co_movil}}{{ item.movil }} {% endif %}</td>
                        <td>{% if not item.tlf %}No Posee{% else %}{{item.co_fijo}}{{ item.tlf }} {% endif %}</td>
                        <td>{% if not item.correo %}No Posee{% else %}{{ item.correo }}{% endif %}</td>
                        <td>{{ item.estado|yesno:"Activo,Inactivo" }}</td>
                        <td>
                            {% if request.user.is_staff %}
                            <a href="{% url 'inicio:man_client_edit' item.pk %}" class="btn btn-warning btn-circle"><i class="fas fa-edit"></i></a>
                            <a onclick="return abrir_modal('{% url 'regmedic:Cliente_delete' item.pk %}')" href="#" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>  
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
    $('.table').DataTable({
      "language": {
        "sProcessing": "Procesando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "No se encontraron resultados",
        "sEmptyTable": "Ningún dato disponible en esta tabla",
        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst": "<span class='fa fa-angle-double-left'></span>",
            "sLast": "<span class='fa fa-angle-double-right'></span>",
            "sNext": "<span class='fa fa-angle-right'></span>",
            "sPrevious": "<span class='fa fa-angle-left'></span>"
        },
        "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      }
    });
  });
</script>
{% endblock js %}