{% extends "base/base.html" %}
{% block title %} Editar {{ obj.nombre }} | Santa Barbara{% endblock %}
{% block contenido %}
<main role="main">
        <style>label{text-align: center}</style>
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-9 mx-auto">
                    <div>
                        <br>
                        <h2 class="text-success text-center">Editar de la Mascota</h2>
                        <br>
                        {% if 'ok' in request.GET %}
                            <p style="color:green;">Se han actualizado correctamente los Datos, <a href="{% url 'regmedic:Mascota_detail' mascota.pk %}">Haz click aqui para ver el resultado</a></p>
                        {% endif %}

                        <form action="" method="POST">{% csrf_token %}
                            <div class="form-producto">
                                <div>
                                    <label for="id_cliente">Propietario de la Mascota</label>
                                    {{form.cliente}}
                                    {{form.cliente.errors}}
                                </div>
                                
                                <div>
                                    <label for="id_nombre">Nombre de la Mascota</label>
                                    <input class="form-control" type="text" value="{{obj.nombre}}" placeholder="nombre de la mascota" name="nombre" id="id_nombre" autocomplete="off" pattern="[A-Za-z]{2,50}">
                                    {{form.nombre.errors}}
                                </div>
                                
                                <div class="mt-3">
                                    <label for="id_fnaci">Fecha de Nacimiento</label>
                                    <input type="text" name="fnaci" id="id_fnaci" value="{{obj.fnaci|date:'SHORT_DATE_FORMAT'}}" class="form-control" readonly >
                                    {{form.fnaci.errors}}
                                </div>
                                
                                <div class="mt-3">
                                    <label for="id_especie">Especie</label>
                                    <select class="custom-select" name="especie" id="id_especie">
                                        <option value="{{obj.especie}}">{{obj.especie}}</option>
                                        {% if not obj.especie == Canino %}
                                        <option value="Canino">Canino</option>
                                        {% else %}
                                        <option value="Felino">Felino</option>
                                        {% endif %}
                                    </select>
                                    {{form.especie.errors}}
                                </div>
                                
                                <div class="mt-3">
                                    <label for="id_razam">Raza</label>
                                    <select class="custom-select" name="razam" id="id_razam">
                                        <option value="{{obj.razam}}">{{obj.razam}}</option>
                                        <option value="">----Raza----</option>
                                        <!--Perrors-->
                                        <optgroup  class="perros">
                                            <!--<option value="">--Caninos--</option>-->
                                            <option value="Pitbull">Pitbull</option>
                                            <option value="Chiguagua">Chiguagua</option>
                                        </optgroup>
                                        <!--Gatos-->
                                        <optgroup class="gatos" >
                                            <!--<option value="">--Feninos--</option>-->
                                            <option value="Peludos">Peludos</option>
                                            <option value="Sin pelos">Sin pelos</option>
                                        </optgroup>
                                    </select>
                                    {{form.razam.errors}}
                                </div>
                                
                                <div class="mt-3">
                                    <label for="id_sexom">Sexo</label>
                                    <select class="custom-select" name="sexom" id="id_sexom">
                                        <option value="{{obj.sexom}}">{{obj.sexom}}</option>
                                        {% if obj.sexom == Hembra %}
                                        <option value="Macho">Macho</option>
                                        {% else %}
                                        <option value="Hembra">Hembra</option>
                                        {% endif %}
                                    </select>
                                    {{form.sexom.errors}}
                                </div>
                                
                                <div class="mt-3">
                                    <label for="id_peso">Peso (Kg)</label>
                                <input class="form-control" type="number" name="peso" value="{{obj.peso}}" id="id_peso" min="0">
                                {{form.peso.errors}}
                                </div>
                                <div class="mt-3">
                                <label for="id_estado">Estado</label>
                                <input class="form-control" type="checkbox" name="estado" id="id_estado" {% if obj.estado == True %} checked {% endif %}>
                                {{form.estado.errors}}
                                </div>
                            
                            </div>
                            <div class="col text-center mt-5">
                                <button type="submit" class="btn btn-success mr-3"><span class="fas fa-save"></span> Registrar</button>
                                <a href="{% url 'regmedic:Mascota_list' %}" class="btn btn-danger"><span class="fa fa-undo"></span> Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        const especie = document.getElementById('id_especie');

        const canino = document.querySelector('.perros');
        const fenino = document.querySelector('.gatos');

        especie.addEventListener('click', e => {
            const opcion = especie.options[especie.selectedIndex].value;

            if (opcion == 'Canino') {
                canino.classList.add('activo');
            }else{
                canino.classList.remove('activo');
            }
            if (opcion == 'Felino') {
                fenino.classList.add('activo');
            }else{
                fenino.classList.remove('activo');
            }
        });
    </script>
{% endblock %}
{% block js %}
<script>
    $(function () {
        $("#id_cliente").select2({
            placeholder:"Seleccione el Cliente",
            allowClear:true
        });
        $("#id_fnaci").datetimepicker({
            format: 'Y-m-d',
            timepicker:false,
            yearRange: '-50:+0',
            maxDate: '+0m +0d'
            
        });
    });
    
</script>
{% endblock js %}